/**
 * GewoonSamenDoen.NU - CSS
 * Copyright 2013 Marc Teutelink                                                      
 */
@font-face {
	/* Helvetica Light Condensed */
	font-family: 'Helvetica_Light_Condensed';
	src: url('../fonts/HelveticaNeueLTStd-LtCn.otf');
}
@font-face {
	/* Helvetica Condensed Oblique */
	font-family: 'Helvetica_Condensed_Oblique';
	src: url('../fonts/HelveticaNeueLTStd-HvCnO.otf');
}

.container { 
	padding:0;
	width: 1024px;
	text-align: center;
}

.gray { background-color:gray; color:white; }
.purple { background-color:#921171; color:white; }
.yellow { background-color:#F8DB30; color:#921171; }
.white { background-color:white; color:#921171;}

.small, .fill {
	float:left; 
	width:340px; 
	height:230px;  
}

.small:hover {
	cursor:pointer;
	cursor:hand;
}

.small img, .fill img {
	width:100%; 
	height:100%;
}

.small p, .fill p { 
	font-family: "Helvetica_Light_Condensed", "Helvetica Neue"; 
	font-size: 32px;
	text-decoration:underline;
	text-align: left;
	line-height: 38px;
	padding-top: 45px;
	padding-left: 45px;
	padding-right: 45px;
	letter-spacing: -1px;
}

.positie_en_naam {
	display: table-cell;
	font-family: "Helvetica_Condensed_Oblique"; 
	font-size: 28px;
	height: 73px; 
	position: absolute; 
	z-index: 3; 
	background-color: #921171; 
	color: #F8DB30; 
	width:340px; 
	margin-top: 157px;
	padding-top: 15px;
}
	
.large {
	float:left; 
	width:1024px; 
	height:690px; 
}

.themepicture {
	float:left; 
}

.candidate {
	width:100%; 
	height:100%;
	z-index: 1;
}

.logo {
	 padding-left:45px; 
	 padding-top:10px; 
	 position: absolute; 
	 z-index: 2;
}

.lijst {
	 padding-left:35px; 
	 position: absolute; 
	 z-index: 2;
}

.motto {
	 padding-left:45px; 
	 margin-top:520px; 
	 position: absolute; 
	 z-index: 2;
}

.themepicture h2 {
	text-align: left;
	width:300px; 
	height:170px; 
	padding-left:45px; 
	padding-top:280px; 
	position: absolute; 
	z-index: 2;
	color: white;
	font-family: "Helvetica_Light_Condensed"; 
	font-size: 50px;
	text-decoration:underline;
	line-height: 40px;
}

.themetext {
	position:absolute;
	margin-left: 680px;
	width:340px; 
	height:690px; 
	z-index:4;
	background-color: #F8DB30; 
}

.text {
	padding-left:45px; 
	padding-top:140px;
}

.themetext p {
	font-family: "Helvetica";
	font-size: 13px;
	line-height:16px;
	color: black;
	text-align: left;
	padding-right:45px; 
}

.themetext h2 {
	font-family: "Helvetica_Condensed_Oblique"; 
	font-size: 28px;
	height:21px;
	color: #921171;
	margin-bottom: 40px;
	text-align: left;
}

.fa-stack {
	width: 30px;
	height: 30px;
	margin-top: -28px;
}

.fa-inverse {
	color: #F8DB30;
	font-size: 22px;
}

a {
	color: #921171;
	font-weight: bold;
	text-decoration: underline;
}

a:hover {
	color: black;
}

.social, .interaction {
	float: left; 
	height:230px; 
	width: 340px; 
	padding-left: 45px; 
	padding-top: 45px; 
	padding-right:45px; 
	text-align: left; 
}

.social a {
	font-weight: normal;
	text-decoration: none;
}

.textbox {
	width:100%; 
	height:22px; 
	border-style: none; 
	margin-bottom: 10px;
}

.footerlogo {
	 float: left; 
	 height:230px; 
	 width: 340px; 
	 padding-left: 45px; 
	 padding-top: 50px; 
	 text-align: left;
}

.copyright {
	float: left; 
	width:1020px; 
	height: 50px; 
	padding-left: 45px;
	text-align: left; 
}

.copyright p {
	color: black; 
	font-size:12px;
}

.copyright img {
	margin-top: -4px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	/* IPAD */
	body {
		background-color: black;
	}

	.container { 
		width: 1022px;
		margin-left: 2px;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* IPHONE */
	.container { 
		width: 320px;
		height: 480px;
	}
	
	.large {
		width: 340px;
		height: 480px; 
	}

    .themetext {
	   margin-left: 0px;
    }
	
	.themepicture, .footer, .fill {
		display: none;
	}
	
	.positie_en_naam {
		opacity:0.4;
		filter:alpha(opacity=40);
	}
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.4s;
	 -moz-transition-duration: 0.4s;
	  -ms-transition-duration: 0.4s;
	   -o-transition-duration: 0.4s;
		  transition-duration: 0.4s;
}

.isotope {
  -webkit-transition-property: height, width;
	 -moz-transition-property: height, width;
	  -ms-transition-property: height, width;
	   -o-transition-property: height, width;
		  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
	 -moz-transition-property:    -moz-transform, opacity;
	  -ms-transition-property:     -ms-transform, opacity;
	   -o-transition-property:      -o-transform, opacity;
		  transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
	 -moz-transition-duration: 0s;
	  -ms-transition-duration: 0s;
	   -o-transition-duration: 0s;
		  transition-duration: 0s;
}
